{
    "version": "0.2.0",
    "configurations" : [
        {
            "name": "Python: Current File",
            "type": "python",
            "request": "launch",
            "console": "integratedTerminal",
            "program": "${file}",
            "args":["--prefix", "Sydney Summer", "-s", "SSS", "-l", "Location: ", "2019-10-01", "2020-04-01"]
        }
    ]
}